
body {
  font-family: Arial, sans-serif;
  background-color: #61a04e;
  margin: 10;
  padding: 10;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 25px;
  background: white;
  border-radius: 30px;
}

h1, h2 {
  text-align: center;
  color: #080707;
}

form {
  display: grid;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #7300ff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}
